{% extends 'base/indexbase.html' %}

{% block title %} 重置密码 {% endblock %}


{% block forget %} 
<form action="{% url 'account:login' %}" method="get">
  {% csrf_token %}
    <div class="form-group">
      <label for="Inputusername">用户名：</label>
      <input type="text" class="form-control" id="Inputusername" aria-describedby="usernameHelp" name="username">
      <small id="emailHelp" class="form-text text-muted">{{ errmsg }}</small>
    </div>
    <div class="form-group">
      <label for="Inputcaptcha">验证码：</label>
      <img src="" alt="">
      <input type="" class="form-control" id="Inputcaptcha" name="captcha">
      <a href="#">发送验证码</a>
    </div>
    <div class="form-group">
      <small id="emailHelp" class="form-text text-muted">{{ errmsg }}</small>
    </div>
    <button type="submit" class="btn btn-primary" name="login_bu">重置密码</button>
     {{ errmsg }}
  </form>
{% endblock %}
