{% extends 'base/indexbase.html' %}

{% block title %} 登录{% endblock %}

{% block login %} 
{% if user.is_authenticated %}

    <main>
      <a href="#">其它账号登录</a>
    </main>
{% else %}
<form action="{% url 'account:login' %}" method="get">
  {% csrf_token %}
    <div class="form-group">
      <label for="Inputusername">账户名：</label>
      <input type="text" class="form-control" id="Inputusername" aria-describedby="usernameHelp" name="username">
      <small id="emailHelp" class="form-text text-muted">{{ errmsg_us }}</small>
    </div>
    <div class="form-group">
      <label for="InputPassword">密码：</label>
      <input type="password" class="form-control" id="InputPassword" name="password">
      <small id="emailHelp" class="form-text text-muted">{{ errmsg_pw }}</small>
    </div>
    <div class="form-group">
      <label for="Inputcaptcha">验证码：</label>
      <img src="" alt="">
      <input type="" class="form-control" id="Inputcaptcha" name="captcha">
      <a href="#">更新验证码</a>
    </div>
    <div class="form-group">
      <small id="emailHelp" class="form-text text-muted">{{ errmsg_ca }}</small>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="Check1" name="remember" value="{{ remember }}" checked="">
      <label class="form-check-label" for="Check">记住密码</label>
    </div>
    <button type="submit" class="btn btn-primary" name="login_bu">登录</button>
     {{ errmsg }}
  </form>
{% endif %}
{% endblock %}