{% extends 'base/userbase.html' %}


{% block title %} 个人资料-个人资料中心 {% endblock %}



{% block UserProfile %}
<div class="row" style="margin-top: 88px;">
    <div class="col">
        1 of 2
    </div>
    <!-- <div class="col-6">

    </div> -->
    <div class="col-6">
        <ul style="list-style: none;">
            <li style="width: auto;"><label for="" style="width: 20%;text-align: right;">ID:</label>&nbsp;&nbsp;
                <span>{{ user.id }}</span></li>
            <li style="width: auto;"><label for="" style="width: 20%;text-align: right;">用户名:</label>&nbsp;&nbsp;
                    <span>{{ user.username }}</span></li>
            <li style="width: auto;"><label for="" style="width: 20%;text-align: right;">邮箱:</label>&nbsp;&nbsp;
                <span>{{user.email }}</span></li>
            <li style="width: auto;"><label for="" style="width: 20%;text-align: right;">注册时间:</label>&nbsp;&nbsp;
                <span>{{ user.date_joined }}</span>
            </li>
            <li style="width: auto;">&nbsp;&nbsp;
                <label for="" style="width: 20%;text-align: right;">上次登录:</label><span>{{ user.last_login }}</span>
            </li>
        </ul>
    </div>
    <div class="col">
        2 of 2
    </div>
</div>


{% endblock %}